<template>
    <h1>{{name}}</h1>
</template>
<script setup lang="ts">
import { reactive, ref, defineProps, defineEmits, computed, watch, provide, inject } from 'vue'
</script>
<style lang="scss" scoped></style>
