@use 'element-plus/theme-chalk/src/message.scss' as *;
// 覆盖el-message样式
.el-message {
    --el-message-bg-color: #ffffff;
    --el-message-icon-size: 20px;
    width: auto;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
        0 9px 28px 8px rgb(0 0 0 / 5%);
    border: none;
    .el-message__content {
        --el-message-text-color: #262626;
    }
    .el-icon {
        font-size: 18px;
    }
}
// icon 图标配置
.icon {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
}

// drawer 背景色 自定义类名
.el-drawer.drawer-bg {
    background-color: #f7f7f7;
}
// 修改drawer默认样式
.el-drawer {
    .el-drawer__header {
        // background-color: #ffffff;
        margin-bottom: 20px;
        padding: 20px;
        font-weight: 600;
        // position: relative;
        box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
        // &:after {
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     display: flex;
        //     justify-content: center;
        //     left: 12px;
        //     width: 5px;
        //     height: 18px;
        //     border-radius: 3px;
        //     background-color: var(--el-color-primary);
        // }
    }
    .el-drawer__body {
        padding: 32px;
    }
}

// 修改下拉选项 hover的样式
.el-dropdown__list .el-dropdown-menu {
    padding: 5px 6px;
}
.el-dropdown-menu__item:not(.is-disabled):focus {
    // margin: 0 6px;
    border-radius: 5px;
}

// 滚动条
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    // box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(
        to bottom,
        var(--el-color-primary-light-9),
        var(--el-color-primary-light-5)
    );
}

//  菜单 外边距
.el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container) .el-menu-item,
.el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container)
    .el-menu-item-group__title,
.el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container) .el-sub-menu__title {
    margin: 6px 8px;
    height: 45px;
    border-radius: 10px;
    overflow: hidden;
}
.el-sub-menu .el-menu-item {
    min-width: auto !important;
}
.el-menu--collapse {
    width: auto;
}
.el-menu--collapse .el-menu-item,
.el-menu--collapse .el-sub-menu__title,
.el-menu--collapse .el-sub-menu {
    margin: 6px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

// 分页字体大小
.el-pagination {
    font-weight: 600 !important;
}
.el-table__empty-block {
    height: 250px !important;
}

// 删除表格下边框黑线
.el-table__inner-wrapper::before {
    height: 0 !important;
}

// 修改树结构
.el-tree {
    padding: 15px;
    border-radius: 5px;
}
